* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bar {
    background-color: aqua;
    height: 100px;
}

.container {
    display: flex;
    justify-content: flex-start;
    border: 2px solid gray;
    width: 800px;
}

.card-container {
    display: flex;
    width: 900px;
    flex-direction: column;
}

.user-icon {
    position: relative;
    bottom: 80px;
    padding: 20px;
}

.header {
    padding: 30px;
}

h2 {
    position: relative;
    bottom: 60px;
}

i {
    position: relative;
    bottom: 54px;
}

p {
    position: relative;
    bottom: 30px;
}